.fastTyperPage {
    height: 100%;
    width: 100%;
    color: azure;
}

.mainInputArea {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    height: 75vh;
    background-color: #202124;
}

.mainInput {
    height: 2rem;
    width: 100%;
    position: absolute;
    bottom: 0;

    color: azure;
    font-size: larger;
    text-align: center;

    caret-color: transparent;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
}

.currentWordHeader {
    text-align: center;
}