.aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25vh;
    z-index: 100;

    padding: 2rem;
    background-color: #17171A;
    border-bottom-right-radius: 10vh;
    border-top-right-radius: 10vh;

    transform: translateX(-100%);
    transition: 0.15s ease transform;
}

.aside.visible {
    transform: translateX(0);
}

.icon {
    color: var(--main-text-color);
}

.link {
    color: var(--main-text-color);
    text-decoration: none;
}