.boardGamesPage {
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.boardGamesCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5vh auto;
}

.boardGamesCard {
    min-width: 25rem;
    max-width: 65rem;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    /*border: solid red 1px;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.boardGamesCard p {
    padding-top: 1rem;
    line-height: 150%;
}

.boardGamesCardImage {
    border-radius: inherit;
    background: var(--transparent-card-color);
}

.break {
    flex-basis: 100%;
    height: 0;
}
